@import "tailwindcss";


@theme {
  --color-background: #060709;
  --color-foreground: #F8F8F8;
  --color-card: #2a2a2f;
  --color-primary: #43C251;
  --color-secondary: #37373d;
  --color-border: #7D8F8F;
}
